@import "tailwindcss";

@theme inline {
  --color-background: #f7f6f3;
  --color-foreground: #171717;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
